{% extends 'curso/base.html' %}

{%block contenido %}
<h1>Bienvenido!</h1>
<main style="text-align: center">
  <a href="{%url "curso:curso_list"%}"><button>Mostrar Cursos</button></a>
  <a href="{%url "curso:comision_list"%}"><button>Mostrar Comisiones</button></a>
  <a href="{%url "curso:alumno_list"%}"><button>Mostrar Alumnos</button></a>
  <a href="{% url 'curso:register' %}" ><button>Registrar Usuario</button></a>
  {% if user.is_authenticated %}
        <!-- Si el usuario está autenticado, muestra el botón de Logout -->
        <a href="{% url 'curso:logout' %}"><button>Cerrar Sesión</button></a>
    {% else %}
        <!-- Si el usuario no está autenticado, muestra el botón de Login -->
        <a href="{% url 'curso:login' %}"><button>Iniciar Sesión</button></a>
    {% endif %}
</main>
{%endblock contenido %}